<% for file in @deanery_file%>

   <div>
  
    <%= distance_of_time_in_words(file.created_at, Time.now) %> назад
    <% if session[:id] !=nil %>   
        <% if file.admin == @user%>
           <%= link_to "Редагувати", {:controller => 'deanery_files', :action => "edit", :id => "#{file.id}"}%>
            |
        <%= link_to "Видалити", {:controller => "deanery_files", :action => "delete", :id => "#{file.id}"}%>
        <% end %>
     <% end %>   
     </div>
    <div><%= raw file.name %></div> 
    <% if file.file_file_name != nil%>
    <div><%= link_to "Завантажити", file.file.url(:original)%></div>
  <%end%></br> 
<% end %>
