<div style="clear: both">&nbsp</div>
<% if @deanery_file.errors.any? %>
  <div id="error_explanation">
    <ul>
      <% @deanery_file.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
    </ul>
  </div>
<% end %>
<div style="clear: both">&nbsp</div>

<%= tinymce :language => "ru"%>

<%= form_for @deanery_file, :url => {:controller => 'deanery_files', :action => "update", :id => "#{@deanery_file.id}"}  do |f| %>

  <%= f.label :name%></br>
  <%= f.text_field :name%></br>
 
  <%= f.label :form_of_study %>
  <%= f.select :form_of_study, ["ДВ","ЗВ"] %> <br>
 
  <%= f.file_field :file %><br/>
  
  <%= f.submit "Update"%>
<%end%>