
<%= link_to "Особистий кабінет" , cabinet_path %>

<!--general menu-->
<div id="menu">
  <ul id="nav" class="breite">
    <li><%= link_to "НОВИНИ", root_path %></li>
    <li><%= link_to "ДЕКАНАТ", deanery_correspondence_path %>
    <ul class="room" >
      <li ><%= link_to "денне", deanery_full_time_path %></li>
      <li><%= link_to "заочне", deanery_correspondence_path %></li>
    </ul></li>
    <li><%= link_to "КАФЕДРИ", chairs_path %>
      <ul class="room">
        <li>

        <a href="#">Інформатики та фізико-математичних дисциплін</a></li>
        <li><a href="#">Інформаційних управляючих систем і технологій (ІУСТ)</a></li>
         <li>
          <%= link_to 'Програмного забезпечення систем (ПЗС)', '/chairs/zimm' %>
        </li>
         <li>
          <%= link_to 'Інформаційних управляючих систем і технологій (ІУСТ)', '/chairs/iust' %>
        </li>
        <li>
          <%= link_to 'Програмного забезпечення систем (ПЗС)', '/chairs/pzs' %>
        </li>
      </ul>
    </li>
    <li><%= link_to "СТУДЕНТУ" %>
      <ul class="room">
        <li><%= link_to "студентське самоврядування", :controller => "pages", :action => "students_sg" %></li>
        <li><%= link_to "наукове товариство", :controller => "pages", :action => "scientific_society" %></li>
      </ul>
    </li>
    <li><%= link_to "АБІТУРІЕНТУ", applicant_path %>
      <ul class="room" >
        <li><a href="#">правила прийому</a></li>
        <li><a href="#">підготовчі курси</a></li>
      </ul>
    </li>

    <li><%= link_to "ГАЛЕРЕЯ" %></li>
    <li><%= link_to "ПРОЕКТИ" %>
      <ul class="room" >
        <li><a href="#">наукові проекти</a></li>
        <li><a href="#">конференції</a></li>
        <li><a href="#">проекти студентів</a></li>
      </ul>
    </li>
    <li><%= link_to "КОНТАКТИ" , contact_path %></li>
    
    <!--
      There aren't enought free space for it
      <li><%= link_to "Авторизація" , login_path %></li>
    -->
  </ul>
</div>
