<div class="container clearfix">

	<div id="board">
	<%= image_tag "motherboard.jpg", class: "logo" %>
	</div>
	<!-- news -->	 							
	<div id="us">
		<div id="block_a" class="fon">

			<h3><a href="#">Новини</a></h3>
			<div class="text">


				<% @posts.each do |post| %>
					<div class="post">
						<h2><!--<%= post.title %>--> <%= post.created_at.strftime("%Y-%m-%d") %></h2>

						<p>
							<%= truncate(strip_tags(post.body), length: 150) %> <br>
							<a href="/posts/show/<%= post.id %>"><span><ins>Далі</ins></a>
						</p>

					</div>
				<% end %>


				</div>
				<%= will_paginate @posts %>
			</div>
		<!-- 	<div id="block_b" class="fon">
				<h1><a href="#">КОНФЕРЕНЦІЇ</a></h1>
				<div class="text">
				</div>
			</div> -->
		</div>
	</div>