<% for post in @posts%>
  <% for p in post%>
   <div>
  
    <%= p.created_at%>
    <% if session[:id] !=nil %>   
        <% if p.user == @user%>
           <%= link_to "Edit", {:controller => 'posts', :action => "edit", :id => "#{p.id}"}%>
            or
        <%= link_to "Delete", {:controller => "posts", :action => "delete", :id => "#{p.id}"}%>
        <% end %>
     <% end %>   
     </div>
     
    <div><%= raw p.body %></div> 
      <% if p.file_file_name != nil%>
    <div><%= link_to "Viev file", p.file.url(:original)%></div>
  <%end%></br> 
  <% end %>
<% end %>