<% for post in @posts%>

   <div>
    <%= distance_of_time_in_words(post.created_at, Time.now) %> назад
    <% if session[:id] !=nil %>   
        <% if post.admin == @user%>
           <%= link_to "Редагувати", {:controller => 'posts', :action => "edit", :id => "#{post.id}"}%>
            |
           <%= link_to "Видалити", {:controller => "posts", :action => "delete", :id => "#{post.id}"}%>
        <% end %>
     <% end %>   
     </div>
     
    <div><%= raw post.body %></div> 
      <% if post.file_file_name != nil%>
    <div><%= link_to "Завантажити", post.file.url(:original)%></div>
  <%end%></br> 
<% end %>

<%= will_paginate @posts%>
